<app-container-page>
  <div class="container">
    <div class="card-responsive">
      <div class="card-box">
        <div class="grid-title">
          <label> List Movies </label>
        </div>
        <app-grid-default [data]="data" [columns]="columns" (filterSelect)="filterSelectAction($event)"></app-grid-default>
        <mat-paginator 
        [length]="pagelength" 
        [pageSizeOptions]="[10, 50, 100]" 
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="pageChange($event)"
        >
        </mat-paginator>        
      </div>
    </div>
  </div>
</app-container-page>
