.container-box {
  position: absolute;
  height: calc(100vh - 82px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
  margin-top: 62px;
  padding: 10px;
  overflow: auto;
}

.container {
  width: calc(100vw - 50px);
  margin-left: 50px;
  transition-duration: 0.5s;
}

.container-menu-open {
  width: calc(100vw - 300px);
  margin-left: 300px;
  transition-duration: 0.5s;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100vw;
}
